@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BEM VINDO</h1>
    <p class="lead">Crie o formulário aqui -></p>
    <p><a href="/Home/Questionario" class="btn btn-primary btn-lg">Formulário &raquo;</a></p>
</div>

