@model WebSite_FormValidacao.Models.QestController

@{
    ViewBag.Title = "Questionario";
}

<h2>Questionario</h2>
<form action="About" method="post">

    <input type="text" id="txtNome" name="txtNome" />



</form>

@using (Html.BeginForm("About", "Home", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.LabelFor(m => m.nome)
    <br />
    @Html.EditorFor(m => m.nome)
    <br />
    <br />
    <input type="submit" class="button button-a button-big button-rouded" value="ENTRAR" />
    <br />
    <br />

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

